In [5]:
print('Hello CP BootCamp')

Hello CP BootCamp

# This is our first markdown heading

## This is a smaller heading

Here is an example of "markdown"

- markdown is a pseudo-language
- its useful for formatting text

you can use codeblocks in markdown

In [6]:
# set a boolean variable

bootcamp = True

# these store the answers to yes/no questions

hello = "Hello"

if bootcamp:
    print(hello + ' CP Bootcamp')
else:
    print(hello + ' World')

Hello CP Bootcamp

In [7]:
1_variable_cannot_start_with_a_number = False

SyntaxError: invalid decimal literal (2393536843.py, line 1)

In [ ]:
numbers_elsewhere_are_fine_1 = True

In [ ]:
only_LETTERS_and_Numb3ers_and_underscores_allowed = True

In [ ]:
# variables are case sensitive

var = True
Var = False
print(var)
print(Var)

True
False

In [ ]:
# we can add extra condidtions to if/else

CP_binney = False

if bootcamp and CP_binney:
    print(hello + ' and welcome to the CP Bootcamp at 300 Binney!')
elif bootcamp and not CP_binney:
    print(hello + ' and welcome to the CP Bootcamp at 75 ames')
#elif whatever_else:
    #if another_condition:
        #ad infinitum
else:
    print(hello + ' World')

Hello and welcome to the CP Bootcamp at 75 ames

In [ ]:
# let's look at loops

locations = ['300 binney','415 main','75 ames']

for location in locations:
    print(hello + ' and welcome to the CP bootcamp at '+location+'!')

Hello and welcome to the CP bootcamp at 300 binney!
Hello and welcome to the CP bootcamp at 415 main!
Hello and welcome to the CP bootcamp at 75 ames!

In [ ]:
# first function
def say_hello(greetee,greeter=None):
    '''
    this is called a docstring used for annotation
    '''
    
    greeting = "Hello" + greetee
    if greeter:
        greeting += ', from' +greeter
    print(greeting)

say_hello(' world')
say_hello('CP bootcamp', ' Lauren')
say_hello('CP bootcamp', ' David')

Hello world
HelloCP bootcamp, from Lauren
HelloCP bootcamp, from David

In [ ]:
for element in collection:
    operation(element) = operate(element)

In [ ]:
a = 1
# a = a/5
a /= 5
print(a)

0.2

In [ ]:
# "while" loops allow for additional flexibility by looping until a condition is met

import random
tally = 0

while tally < 50:
    print('Current tally: ', tally)
    increment = random.randint(0,5)
    print("Next tally increment: ", increment)
    tally += increment

print("final tally: ", tally)

Current tally:  0
Next tally increment:  5
Current tally:  5
Next tally increment:  4
Current tally:  9
Next tally increment:  4
Current tally:  13
Next tally increment:  5
Current tally:  18
Next tally increment:  4
Current tally:  22
Next tally increment:  1
Current tally:  23
Next tally increment:  2
Current tally:  25
Next tally increment:  1
Current tally:  26
Next tally increment:  5
Current tally:  31
Next tally increment:  3
Current tally:  34
Next tally increment:  2
Current tally:  36
Next tally increment:  2
Current tally:  38
Next tally increment:  0
Current tally:  38
Next tally increment:  3
Current tally:  41
Next tally increment:  3
Current tally:  44
Next tally increment:  5
Current tally:  49
Next tally increment:  1
final tally:  50

# Numerical datatypes and other packages

## datatypes

In [ ]:
# numbers

my_int = 4
my_float = 4.0
print('this is a ', type(my_int), "with value: ",my_int)
print('this is a ', type(my_float), "with value: ",my_float)

this is a  <class 'int'> with value:  4
this is a  <class 'float'> with value:  4.0

In [ ]:
print (1+1)
print(2*5)

print(2*5-3)
print(2*(5-3))

#exponentiation works with 2 asterisks
print(10**2)
# it also works with negative exponents
print(10**-2)

2
10
7
4
100
0.01

In [ ]:
# warning: be careful when checking equality with floats
# second thought: don't do this
print(0.1 + 0.2 == 0.3)
print(0.1 + 0.3 == 0.2 + 0.2)

False
True

In [ ]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [ ]:
# For safety, specify a tolerance

tol = 10**-10

print(0.1 + 0.2 - 0.3 == 0)
print(0.1 + 0.2 - 0.3 < tol)

False
True

In [ ]:
print('this' + 'is' + 'a' + 'string')

thisisastring

In [ ]:
s = "this is a string for slicing"

In [ ]:
print(s[5])

i

In [ ]:
# slicing
print(s[:16])

this is a string

In [ ]:
# lists
# lists can contain any type of data in any combination

l = ['a',1,0.3,None,['a','b']]
print(l)

['a', 1, 0.3, None, ['a', 'b']]

In [ ]:
# python indexing is quite flexible
nums = list(range(50))
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
print(nums[0])

0

In [ ]:
print(nums[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(nums[-5:])

[45, 46, 47, 48, 49]

In [ ]:
print(nums[5:10])

[5, 6, 7, 8, 9]

In [ ]:
print(nums[::-1])

[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
print(nums[1:12:3])

[1, 4, 7, 10]

In [ ]:
# lists nest in the obvious way
nested_list =[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
print(nested_list[1:4])

[[4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [ ]:
print(nested_list[3])

[10, 11, 12]

In [ ]:
print(nested_list[3][1])

11

In [ ]:
[l[1] for l in nested_list]

[2, 5, 8, 11, 14]

In [ ]:
# % gives you the remainder of your division -- playing with this a bit for my own understanding

print([i for i in range(20) if (i%3 == 1)]) # this shows the numbers for which when i is divided by 3, there is a remainder of 1

print([i for i in range(20) if (i%5 == 3)]) # this shows the numbers for which when i is divided by 5, 3 is the remainder

print([i for i in range(20) if (i%1 == 0)]) # this shows the numbers for which when i is divided by 1, 0 is the remainder (aka all of the numbers in the range)

[1, 4, 7, 10, 13, 16, 19]
[3, 8, 13, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
# % gives you the remainder of your division

print([i for i in range(20) if (i%2 == 0)])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
print([ i if (i%2 ==0) else -i for i in range(20)])

[0, -1, 2, -3, 4, -5, 6, -7, 8, -9, 10, -11, 12, -13, 14, -15, 16, -17, 18, -19]

In [ ]:
print(nested_list)
nested_list[-1] = "oops!"
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], 'oops!']

In [2]:
# be careful when dealing with the list elements
new_test_list = [[i,i+1] for i in range(20) if (i%2 == 0)]
print(new_test_list)

[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], [10, 11], [12, 13], [14, 15], [16, 17], [18, 19]]

In [3]:
print(new_test_list[5])
test_element = new_test_list[5]
test_element[0] = 'oops'
print(new_test_list)

[10, 11]
[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], ['oops', 11], [12, 13], [14, 15], [16, 17], [18, 19]]

In [ ]:
test_element_2 = [x for x in new_test_list[5]]

test_element_2[1] = 'oops'
print(new_test_list)

[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], ['oops', 11], [12, 13], [14, 15], [16, 17], [18, 19]]

In [ ]:
test_element_2

['oops', 'oops']

In [ ]:
# tuples are like lists but are immutable
test_tuple = tuple(range(5))
print(test_tuple)
test_tuple[2] = -1

(0, 1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# useful for indexing and function arguments
function_args = (0,10,2)
print(function_args)

(0, 10, 2)

In [ ]:
print(type(function_args))

<class 'tuple'>

In [ ]:
# tuples can be "unrolled" with the star operator into function args
print(list(range(*function_args)))

[0, 2, 4, 6, 8]

In [ ]:
# range(start,stop,step) #this is the function that was used above for the tuple

print(list(range(*[0,10,2])))

[0, 2, 4, 6, 8]

In [ ]:
# dictionaries
test_dict = dict()
test_dict[(0,0)] = ['test']

In [ ]:
test_dict

{(0, 0): ['test']}

In [ ]:
# try a mutable datatype like a list
test_dict[[1,2]] = 'test_failed'

TypeError: unhashable type: 'list'

In [ ]:
print({(a,b): a*b for a in range(3) for b in range(4)})

{(0, 0): 0, (0, 1): 0, (0, 2): 0, (0, 3): 0, (1, 0): 0, (1, 1): 1, (1, 2): 2, (1, 3): 3, (2, 0): 0, (2, 1): 2, (2, 2): 4, (2, 3): 6}

## types associated with common packages

In [ ]:
import numpy as np

In [ ]:
array_1 = np.ones(10**4)
print(array_1)
array_2 = np.arange(10**4)
print(array_2)
%timeit array_1+1.5*array_2

[1. 1. 1. ... 1. 1. 1.]
[   0    1    2 ... 9997 9998 9999]
5.72 μs ± 88.3 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [ ]:
# let's try this with lists

list_1 = [1]*10**4
list_2 = list(range(10**4))
%timeit [list_1[i] + 1.5*list_2[i] for i in range(10**4)]

340 μs ± 989 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)